In [1]:
import numpy as np
import pandas as pd

In [2]:
data_path = "../../dataset/3-5modified.csv"
res_path = "result.csv"

In [3]:
df = pd.read_csv(data_path)

In [4]:
df.head()

,Date,Time,User1 ID,User2 ID,text,status,text_processed
0,2021-03-04,10:17,1,2,bye bye dear bajaj i got some better work to ...,1,bye bye dear bajaj get good work watch ur funn...
1,2022-01-24,04:27,1,2,Haha your so funny you sit on wikipedia all da...,1,haha funny sit wikipedia day make sure everyth...
2,2021-02-03,02:19,1,2,My problem is people talking out of their asse...,1,problem people talk ass fault people stupid ma...
3,2021-09-04,08:54,1,2,Article updated,0,article update
4,2021-07-21,13:15,1,2,Well arent you phucking special Its easy to ha...,1,well arent phucking special easy thing still l...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90356 entries, 0 to 90355
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            90356 non-null  object
 1   Time            90356 non-null  object
 2   User1 ID        90356 non-null  int64
 3   User2 ID        90356 non-null  int64
 4   text            90356 non-null  object
 5   status          90356 non-null  int64
 6   text_processed  90307 non-null  object
dtypes: int64(3), object(4)
memory usage: 4.8+ MB

In [6]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split

In [7]:
df['status'].unique()

array([1, 0])

In [8]:
# df['status_num'] = df['status'].map({'not_cyberbullying':0, 'gender':1, 'religion':2, 'other_cyberbullying':3,
#        'age':4, 'ethnicity':5})
df['status_num'] = df['status']

In [9]:
X = df['text_processed']
y = df['status_num']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [11]:
y_train_exp = np.expand_dims(np.array(y_train),axis=-1)
y_test_exp = np.expand_dims(np.array(y_test),axis=-1)

In [12]:
cv = CountVectorizer()

cv.fit(X_train.values.astype('U')) # str will also work
X_train_trans = cv.transform(X_train.values.astype('U'))
X_test_trans = cv.transform(X_test.values.astype('str'))

In [41]:
# !where python

/Applications/anaconda3/envs/miscEnv/bin/python

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB, GaussianNB, BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier

In [16]:
from sklearn.metrics import confusion_matrix, accuracy_score, roc_curve

In [17]:
# lr = LogisticRegression()
svc = SVC(kernel='sigmoid',gamma=1.0)
dtc = DecisionTreeClassifier(max_depth=5)
mnb = MultinomialNB()
gnb = GaussianNB()
bnb = BernoulliNB()
knc = KNeighborsClassifier()
rf = RandomForestClassifier()
abc = AdaBoostClassifier(n_estimators=50, random_state = 32)
bc = BaggingClassifier(n_estimators=50, random_state=32)
etc = ExtraTreesClassifier(n_estimators = 50, random_state = 32)
gbdt = GradientBoostingClassifier(n_estimators = 50,random_state = 32)
# xgb = XGBClassifier(n_estimators=50, random_state = 32)

In [18]:
mdls = {
'svc':svc, # too much time
'dtc':dtc, 
'mnb':mnb,
# 'gnb':gnb, # sparse data issue
'bnb':bnb,
'knc':knc,
'rf':rf,
'abc':abc,
'bc':bc, # too much time
'etc':etc, # too much time
'gbdt':gbdt,
# 'xgb':xgb,
}

In [19]:
# # mdls = {
# #     # "lr":lr,
# #     "mnb":mnb,
# #     "knc":knc,
# #     "dtc":dtc,
# #     "abc":abc,
# #     "gbdt":gbdt,
# #     "xgb":xgb,
# #     "bc":bc,
# #     "svc":svc,
# #     "etc":etc,
# # }

# mdls = {
# # 'svc':svc, # too much time
# 'dtc':dtc, 
# # 'mnb':mnb,
# # 'gnb':gnb, # won't work
# 'bnb':bnb,
# # 'knc':knc,
# 'rf':rf,
# # 'abc':abc,
# # 'bc':bc, # too much time
# # 'etc':etc, # too much time
# # 'gbdt':gbdt,
# # 'xgb':xgb,
# }

In [20]:
# bnb.fit(X_train_trans,y_train)
# y_pred2 = bnb.predict(X_test_trans)

In [21]:
# print(accuracy_score(y_test,y_pred2))

In [22]:
def predict_mdl(mdl, X_train, y_train, X_test, y_test):
    """Trains model and returns (accuracy,precision)"""
    mdl.fit(X_train, y_train)
    y_preds = mdl.predict(X_test)

    # print('hi')
    print(accuracy_score(y_test,y_preds))
    # print(confusion_matrix(y_test,y_preds))

    return accuracy_score(y_preds, y_test)

In [23]:
names = []
accuracies = []
# precisions = []
for name, mdl in mdls.items():
    print()
    print("---===---"*5)
    print(name)
    acc = predict_mdl(mdl, X_train_trans, y_train, X_test_trans, y_test)
    print(acc)
    names.append(name)
    accuracies.append(acc)

---===------===------===------===------===---
svc

In [ ]:
res_df = pd.DataFrame({"models_cv-1":names,"accuracy_cv-1":accuracies})
res_df

  models_cv-1  accuracy_cv-1
0         mnb       0.781843
1         knc       0.709823
2         dtc       0.638851
3         abc       0.798511
4        gbdt       0.826816
5         xgb       0.846105
6          bc       0.822937
7         svc       0.557291
8         etc       0.824929

In [ ]:
res_df.to_csv(res_path, index=False)

In [ ]:
# names1 = []
# accuracies1 = []
# for name, mdl in mdls.items():
#     print()
#     print("---===---"*5)
#     print(name)
#     acc = predict_mdl(mdl, X_train_trans, y_train, X_test_trans, y_test)
#     print(acc)
#     names1.append(name)
#     accuracies1.append(acc)

---===------===------===------===------===---
dtc
0.6388510326029982
0.6388510326029982

---===------===------===------===------===---
bnb
0.8229374148233567
0.8229374148233567

---===------===------===------===------===---
rf
0.821784254114687
0.821784254114687

In [ ]:
# res_df = pd.concat([res_df,res_df2],ignore_index=True)

In [1]:
# res_df.to_csv(res_path)
# res_df

NameError: name 'res_df' is not defined