In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
data_path = '../../dataset/1/modified.csv'

In [6]:
df  = pd.read_csv(data_path)
df.head()

,text,status,char_len,text_processed,word_len
0,"In other words #katandandre, your food was cra...",not_cyberbullying,61,word katandandre food crapilicious mkr,9
1,Why is #aussietv so white? #MKR #theblock #ImA...,not_cyberbullying,115,aussietv white mkr theblock imacelebrityau tod...,14
2,@XochitlSuckkks a classy whore? Or more red ve...,not_cyberbullying,60,xochitlsuckkks classy whore red velvet cupcake,9
3,"@Jason_Gio meh. :P thanks for the heads up, b...",not_cyberbullying,103,jason_gio meh thanks head concern another angr...,18
4,@RudhoeEnglish This is an ISIS account pretend...,not_cyberbullying,103,rudhoeenglish isi account pretend kurdish acco...,18